#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Czech Keyboard Layout (QWERTY)"
#define MERGEOS_STR_INTERNAL_NAME     "kbdcz1"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdcz1.dll"
#include <mergeos/version.rc>
