/*
 * Inspired by Wine file include/wine_common_ver.rc
 * Copyright 2001 Dmitry Timoshkov
 *
 * Most version components are set to reasonable defaults here.
 * If you're including this for a .DLL, #define MERGEOS_VERSION_DLL before the #include.
 * Other things to #define:
 * MERGEOS_STR_FILE_DESCRIPTION
 * MERGEOS_STR_INTERNAL_NAME
 * MERGEOS_STR_ORIGINAL_FILENAME
 *
 */

#include "winver.h"
#include "version.h"
#include "buildno.h"

/* Define some defaults (shouldn't be overwritten by applications */
#define MERGEOS_DEFAULT_STR_COMPANY_NAME    "MergeOS Project"
#define MERGEOS_DEFAULT_STR_DESCRIPTION     "MergeOS Core Component"
#define MERGEOS_DEFAULT_STR_INTERNAL_NAME   ""
#define MERGEOS_DEFAULT_STR_LEGAL_COPYRIGHT "(C) 1996-" COPYRIGHT_YEAR " MergeOS Project"
#define MERGEOS_DEFAULT_STR_PRODUCT_NAME    "MergeOS Operating System"

/* Set defaults for everything, unless overridden */
#ifndef MERGEOS_FILEVERSION
#ifdef MERGEOS_VERSION_DLL
#define MERGEOS_FILEVERSION MERGEOS_DLL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#else
#define MERGEOS_FILEVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* MERGEOS_VERSION_DLL */
#endif /* MERGEOS_FILEVERSION */

#ifndef MERGEOS_PRODUCTVERSION
#define MERGEOS_PRODUCTVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* MERGEOS_PRODUCTVERSION */

#ifndef MERGEOS_FILEFLAGSMASK
#define MERGEOS_FILEFLAGSMASK 0x3fL
#endif /* MERGEOS_FILEFLAGSMASK */

#ifndef MERGEOS_FILEFLAGS
#ifdef _DEBUG
#define MERGEOS_FILEFLAGS VS_FF_DEBUG
#else
#define MERGEOS_FILEFLAGS 0x0L
#endif /* _DEBUG */
#endif /* MERGEOS_FILEFLAGS */

#ifndef MERGEOS_FILEOS
#define MERGEOS_FILEOS VOS_NT_WINDOWS32
#endif /* MERGEOS_FILEOS */

#ifndef MERGEOS_FILETYPE
#ifdef MERGEOS_VERSION_DLL
#define MERGEOS_FILETYPE VFT_DLL
#else
#define MERGEOS_FILETYPE VFT_APP
#endif /* MERGEOS_VERSION_DLL */
#endif /* MERGEOS_FILETYPE */

#ifndef MERGEOS_FILESUBTYPE
#define MERGEOS_FILESUBTYPE VFT2_UNKNOWN
#endif /* MERGEOS_FILESUBTYPE */

#ifndef MERGEOS_STR_COMPANY_NAME
#define MERGEOS_STR_COMPANY_NAME MERGEOS_DEFAULT_STR_COMPANY_NAME
#endif /* MERGEOS_STR_COMPANY_NAME */

#ifndef MERGEOS_STR_FILE_DESCRIPTION
#define MERGEOS_STR_FILE_DESCRIPTION MERGEOS_DEFAULT_STR_FILE_DESCRIPTION
#endif /* MERGEOS_STR_FILE_DESCRIPTION */

#ifndef MERGEOS_STR_FILE_VERSION
#ifdef MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_VERSION MERGEOS_DLL_VERSION_RC
#else
#define MERGEOS_STR_FILE_VERSION KERNEL_VERSION_RC
#endif /* MERGEOS_VERSION_DLL */
#endif /* MERGEOS_STR_FILE_VERSION */

#ifndef MERGEOS_STR_INTERNAL_NAME
#define MERGEOS_STR_INTERNAL_NAME MERGEOS_DEFAULT_STR_INTERNAL_NAME
#endif /* MERGEOS_STR_INTERNAL_NAME */

#ifndef MERGEOS_STR_LEGAL_COPYRIGHT
#define MERGEOS_STR_LEGAL_COPYRIGHT MERGEOS_DEFAULT_STR_LEGAL_COPYRIGHT
#endif /* MERGEOS_STR_LEGAL_COPYRIGHT */

#ifndef MERGEOS_STR_ORIGINAL_FILENAME
#define MERGEOS_STR_ORIGINAL_FILENAME ""
#endif /* MERGEOS_STR_ORIGINAL_FILENAME */

#ifndef MERGEOS_STR_PRODUCT_NAME
#define MERGEOS_STR_PRODUCT_NAME MERGEOS_DEFAULT_STR_PRODUCT_NAME
#endif /* MERGEOS_STR_PRODUCT_NAME */

#ifndef MERGEOS_STR_PRODUCT_VERSION
#define MERGEOS_STR_PRODUCT_VERSION KERNEL_VERSION_RC
#endif /* MERGEOS_STR_PRODUCT_VERSION */

#ifndef MERGEOS_STR_PRODUCT_BUILD
#define MERGEOS_STR_PRODUCT_BUILD KERNEL_VERSION_BUILD_RC
#endif /* MERGEOS_STR_PRODUCT_BUILD */

/* The version resource itself */
VS_VERSION_INFO VERSIONINFO
FILEVERSION     MERGEOS_FILEVERSION
PRODUCTVERSION  MERGEOS_PRODUCTVERSION
FILEFLAGSMASK   MERGEOS_FILEFLAGSMASK
FILEFLAGS       MERGEOS_FILEFLAGS
FILEOS          MERGEOS_FILEOS
FILETYPE        MERGEOS_FILETYPE
FILESUBTYPE     MERGEOS_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",        MERGEOS_STR_COMPANY_NAME
            VALUE "FileDescription",    MERGEOS_STR_FILE_DESCRIPTION
            VALUE "FileVersion",        MERGEOS_STR_FILE_VERSION
            VALUE "InternalName",       MERGEOS_STR_INTERNAL_NAME
#ifdef MERGEOS_STR_ORIGINAL_COPYRIGHT
            VALUE "OriginalCopyright",  MERGEOS_STR_ORIGINAL_COPYRIGHT
#endif /* MERGEOS_STR_ORIGINAL_COPYRIGHT */
            VALUE "LegalCopyright",     MERGEOS_STR_LEGAL_COPYRIGHT
            VALUE "OriginalFilename",   MERGEOS_STR_ORIGINAL_FILENAME
            VALUE "ProductName",        MERGEOS_STR_PRODUCT_NAME
            VALUE "ProductVersion",     MERGEOS_STR_PRODUCT_VERSION
#ifdef MERGEOS_OLESELFREGISTER
            VALUE "OLESelfRegister",    ""
#endif /* MERGEOS_OLESELFREGISTER */
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
