#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION	"MergeOS ActiveX Control for Streaming Video\0"
#define MERGEOS_STR_INTERNAL_NAME	"MSVidCtl\0"
#define MERGEOS_STR_ORIGINAL_FILENAME	"MSVidCtl\0"
#define MERGEOS_STR_PRODUCT_VERSION     "6.05.2600.3264\0"
#define MERGEOS_STR_FILE_VERSION        "6.05.2600.3264\0"

#include <mergeos/version.rc>
