#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Arabic (102) Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbda2"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbda2.dll"
#include <mergeos/version.rc>
