#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "C Runtime Library"
#define MERGEOS_STR_INTERNAL_NAME     "crtdll"
#define MERGEOS_STR_ORIGINAL_FILENAME "crtdll.dll"
#include <mergeos/version.rc>
