#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS/WINE MIDI Mapper"
#define MERGEOS_STR_INTERNAL_NAME     "midimap"
#define MERGEOS_STR_ORIGINAL_FILENAME "midimap.drv"
#include <mergeos/version.rc>
