#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Portuguese Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdpo"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdpo.dll"
#include <mergeos/version.rc>
