#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "NEC PC-9821 Video Miniport Driver"
#define MERGEOS_STR_INTERNAL_NAME     "vga"
#define MERGEOS_STR_ORIGINAL_FILENAME "vga.sys"
#include <mergeos/version.rc>
