#include <windef.h>

#define MERGEOS_FILEVERSION 6,0,6000,0
#define MERGEOS_STR_FILE_VERSION "6.0.6000.0"
#define MERGEOS_PRODUCTVERSION 6,0,6000,0
#define MERGEOS_STR_PRODUCT_VERSION "6.0"

#define MERGEOS_STR_FILE_DESCRIPTION  "Application compatibility module"
#define MERGEOS_STR_INTERNAL_NAME     "apphelp"
#define MERGEOS_STR_ORIGINAL_FILENAME "apphelp.dll"
#include <mergeos/version.rc>
