#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Tatar Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdtat"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdtat.dll"
#include <mergeos/version.rc>
