#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Named Pipe File System Driver"
#define MERGEOS_STR_INTERNAL_NAME     "npfs"
#define MERGEOS_STR_ORIGINAL_FILENAME "npfs.sys"
#include <mergeos/version.rc>
