#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Romanian (Legacy) Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdro"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdro.dll"
#include <mergeos/version.rc>
