#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Bengali Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdinben"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdinben.dll"
#include <mergeos/version.rc>
