#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "VBE Miniport Device Driver"
#define MERGEOS_STR_INTERNAL_NAME     "vgapnp"
#define MERGEOS_STR_ORIGINAL_FILENAME "vgapnp.sys"
#include <mergeos/version.rc>
