#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "NDIS Library"
#define MERGEOS_STR_INTERNAL_NAME     "ndis"
#define MERGEOS_STR_ORIGINAL_FILENAME "ndis.sys"
#include <mergeos/version.rc>
