#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Korean Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdkor"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdkor.dll"
#include <mergeos/version.rc>
