#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "ISA Plug And Play Bus Driver\0"
#define MERGEOS_STR_INTERNAL_NAME     "isapnp\0"
#define MERGEOS_STR_ORIGINAL_FILENAME "isapnp.sys\0"
#include <mergeos/version.rc>
