#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION	"Lunar Theme\0"
#define MERGEOS_STR_INTERNAL_NAME	"Lunar\0"
#define MERGEOS_STR_ORIGINAL_FILENAME	"lunar.msstyles\0"
#include <mergeos/version.rc>

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 COLORNAMES					{L"MergeOS\0\0"}
COMBO COMBODATA					{0x0003,0x0003, 0x0000, 0x0003, 0x0006, 0x0001,0x0004,0x0007,0x0002,0x0005,0x08,}
1 PACKTHEM_VERSION				{0x03,}
1 FILERESNAMES					{L"NORMALMERGEOS_INI\0LARGEFONTSMERGEOS_INI\0EXTRALARGEMERGEOS_INI\0\0"}
1 SIZENAMES						{L"Normal Size\0Large Fonts\0Extra Large Fonts\0\0"}
1 MINDEPTH						{0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x0000,}

EXTRALARGEMERGEOS_INI TEXTFILE	"textfiles/ExtraLargeMergeOS_utf16.INI"
LARGEFONTSMERGEOS_INI TEXTFILE	"textfiles/LargeFontsMergeOS_utf16.INI"
NORMALMERGEOS_INI TEXTFILE		"textfiles/NormalMergeOS_utf16.INI"
THEMES_INI TEXTFILE				{L"\r\n"}

MERGEOS_BALLOONCLOSE_BMP BITMAP "bitmaps/MERGEOS_BALLOONCLOSE.bmp"
MERGEOS_BUTTON_BMP BITMAP "bitmaps/MERGEOS_BUTTON.bmp"
MERGEOS_CHECKBOX13_BMP BITMAP "bitmaps/MERGEOS_CHECKBOX13.bmp"
MERGEOS_CHECKBOX16_BMP BITMAP "bitmaps/MERGEOS_CHECKBOX16.bmp"
MERGEOS_CHECKBOX25_BMP BITMAP "bitmaps/MERGEOS_CHECKBOX25.bmp"
NORMAL_CHEVRON_BMP BITMAP "bitmaps/NORMAL_CHEVRON.bmp"
MERGEOS_CLOSEBUTTON_BMP BITMAP "bitmaps/MERGEOS_CLOSEBUTTON.bmp"
NORMAL_CLOSEGLYPH9_BMP BITMAP "bitmaps/NORMAL_CLOSEGLYPH9.bmp"
MERGEOS_COMBOBUTTONGLYPH_BMP BITMAP "bitmaps/MERGEOS_COMBOBUTTONGLYPH.bmp"
MERGEOS_COMBOBUTTON_BMP BITMAP "bitmaps/MERGEOS_COMBOBUTTON.bmp"
NORMAL_EXPLORERBARHEADERBACKGROUND_BMP BITMAP "bitmaps/NORMAL_EXPLORERBARHEADERBACKGROUND.bmp"
NORMAL_EXPLORERBARHEADERCLOSE_BMP BITMAP "bitmaps/NORMAL_EXPLORERBARHEADERCLOSE.bmp"
NORMAL_EXPLORERBARTOOLBARBACKGROUND_BMP BITMAP "bitmaps/NORMAL_EXPLORERBARTOOLBARBACKGROUND.bmp"
MERGEOS_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/MERGEOS_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN.bmp"
MERGEOS_EXPLORERBARTOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/MERGEOS_EXPLORERBARTOOLBARBUTTONSSPLIT.bmp"
MERGEOS_EXPLORERBARTOOLBARBUTTONS_BMP BITMAP "bitmaps/MERGEOS_EXPLORERBARTOOLBARBUTTONS.bmp"
NORMAL_FIELDOUTLINEBLUE_BMP BITMAP "bitmaps/NORMAL_FIELDOUTLINEBLUE.bmp"
NORMAL_FRAMECAPTIONMIN_BMP BITMAP "bitmaps/NORMAL_FRAMECAPTIONMIN.bmp"
NORMAL_FRAMECAPTIONSIZING_BMP BITMAP "bitmaps/NORMAL_FRAMECAPTIONSIZING.bmp"
MERGEOS_FRAMECAPTION_BMP BITMAP "bitmaps/MERGEOS_FRAMECAPTION.bmp"
MERGEOS_FRAMESIDES_BMP BITMAP "bitmaps/MERGEOS_FRAMESIDES.bmp"
NORMAL_FRAMEMAXIMIZED_BMP BITMAP "bitmaps/NORMAL_FRAMEMAXIMIZED.bmp"
NORMAL_GRIPPERVERT_BMP BITMAP "bitmaps/NORMAL_GRIPPERVERT.bmp"
NORMAL_GRIPPER_BMP BITMAP "bitmaps/NORMAL_GRIPPER.bmp"
NORMAL_GROUPBOX_BMP BITMAP "bitmaps/NORMAL_GROUPBOX.bmp"
MERGEOS_HELPBUTTON_BMP BITMAP "bitmaps/MERGEOS_HELPBUTTON.bmp"
NORMAL_LISTVIEWHEADERBACKGROUND_BMP BITMAP "bitmaps/NORMAL_LISTVIEWHEADERBACKGROUND.bmp"
NORMAL_LISTVIEWHEADER_BMP BITMAP "bitmaps/NORMAL_LISTVIEWHEADER.bmp"
MERGEOS_MAXBUTTON_BMP BITMAP "bitmaps/MERGEOS_MAXBUTTON.bmp"
NORMAL_MDICAPTIONBUTTON_BMP BITMAP "bitmaps/NORMAL_MDICAPTIONBUTTON.bmp"
NORMAL_MDIGLYPHCLOSE_BMP BITMAP "bitmaps/NORMAL_MDIGLYPHCLOSE.bmp"
NORMAL_MDIGLYPHMINIMIZE_BMP BITMAP "bitmaps/NORMAL_MDIGLYPHMINIMIZE.bmp"
NORMAL_MDIGLYPHRESTORE_BMP BITMAP "bitmaps/NORMAL_MDIGLYPHRESTORE.bmp"
MERGEOS_MINBUTTON_BMP BITMAP "bitmaps/MERGEOS_MINBUTTON.bmp"
NORMAL_NORMALGROUPBACKGROUND_BMP BITMAP "bitmaps/NORMAL_NORMALGROUPBACKGROUND.bmp"
NORMAL_NORMALGROUPHEAD_BMP BITMAP "bitmaps/NORMAL_NORMALGROUPHEAD.bmp"
NORMAL_PLACEBARBACKGROUND_BMP BITMAP "bitmaps/NORMAL_PLACEBARBACKGROUND.bmp"
NORMAL_PLACEBARBUTTONS_BMP BITMAP "bitmaps/NORMAL_PLACEBARBUTTONS.bmp"
MERGEOS_PROGRESSCHUNKVERT_BMP BITMAP "bitmaps/MERGEOS_PROGRESSCHUNKVERT.bmp"
MERGEOS_PROGRESSCHUNK_BMP BITMAP "bitmaps/MERGEOS_PROGRESSCHUNK.bmp"
MERGEOS_PROGRESSTRACKVERT_BMP BITMAP "bitmaps/MERGEOS_PROGRESSTRACKVERT.bmp"
MERGEOS_PROGRESSTRACK_BMP BITMAP "bitmaps/MERGEOS_PROGRESSTRACK.bmp"
MERGEOS_RADIOBUTTON13_BMP BITMAP "bitmaps/MERGEOS_RADIOBUTTON13.bmp"
NORMAL_RESIZEGRIP2_BMP BITMAP "bitmaps/NORMAL_RESIZEGRIP2.bmp"
MERGEOS_RESTOREBUTTON_BMP BITMAP "bitmaps/MERGEOS_RESTOREBUTTON.bmp"
NORMAL_SCROLLARROWGLYPHSSMALL_BMP BITMAP "bitmaps/NORMAL_SCROLLARROWGLYPHSSMALL.bmp"
NORMAL_SCROLLARROWGLYPHS_BMP BITMAP "bitmaps/NORMAL_SCROLLARROWGLYPHS.bmp"
MERGEOS_SCROLLARROWS_BMP BITMAP "bitmaps/MERGEOS_SCROLLARROWS.bmp"
MERGEOS_SCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLSHAFTHORIZONTAL.bmp"
MERGEOS_SCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLSHAFTVERTICAL.bmp"
MERGEOS_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLTHUMBGRIPPERHORIZONTAL.bmp"
MERGEOS_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLTHUMBGRIPPERVERTICAL.bmp"
MERGEOS_SCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLTHUMBHORIZONTAL.bmp"
MERGEOS_SCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/MERGEOS_SCROLLTHUMBVERTICAL.bmp"
MERGEOS_SEPARATORVERT_BMP BITMAP "bitmaps/MERGEOS_SEPARATORVERT.bmp"
MERGEOS_SEPARATOR_BMP BITMAP "bitmaps/MERGEOS_SEPARATOR.bmp"
MERGEOS_SLIDERTRACK_BMP BITMAP "bitmaps/MERGEOS_SLIDERTRACK.bmp"
MERGEOS_SLIDERTRACKVERT_BMP BITMAP "bitmaps/MERGEOS_SLIDERTRACKVERT.bmp"
MERGEOS_SMALLCLOSEBUTTON_BMP BITMAP "bitmaps/MERGEOS_SMALLCLOSEBUTTON.bmp"
NORMAL_SMALLFRAMECAPTIONSIZING_BMP BITMAP "bitmaps/NORMAL_SMALLFRAMECAPTIONSIZING.bmp"
NORMAL_SMALLFRAMECAPTION_BMP BITMAP "bitmaps/NORMAL_SMALLFRAMECAPTION.bmp"
NORMAL_SPECIALGROUPBACKGROUND_BMP BITMAP "bitmaps/NORMAL_SPECIALGROUPBACKGROUND.bmp"
NORMAL_SPECIALGROUPHEAD_BMP BITMAP "bitmaps/NORMAL_SPECIALGROUPHEAD.bmp"
NORMAL_SPINBUTTONBACKGROUNDDOWN_BMP BITMAP "bitmaps/NORMAL_SPINBUTTONBACKGROUNDDOWN.bmp"
NORMAL_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP "bitmaps/NORMAL_SPINBUTTONBACKGROUNDLEFT.bmp"
NORMAL_SPINBUTTONBACKGROUNDRIGHT_BMP BITMAP "bitmaps/NORMAL_SPINBUTTONBACKGROUNDRIGHT.bmp"
NORMAL_SPINBUTTONBACKGROUNDUP_BMP BITMAP "bitmaps/NORMAL_SPINBUTTONBACKGROUNDUP.bmp"
NORMAL_SPINDOWNGLYPH_BMP BITMAP "bitmaps/NORMAL_SPINDOWNGLYPH.bmp"
NORMAL_SPINLEFTGLYPH_BMP BITMAP "bitmaps/NORMAL_SPINLEFTGLYPH.bmp"
NORMAL_SPINRIGHTGLYPH_BMP BITMAP "bitmaps/NORMAL_SPINRIGHTGLYPH.bmp"
NORMAL_SPINUPGLYPH_BMP BITMAP "bitmaps/NORMAL_SPINUPGLYPH.bmp"
MERGEOS_STARTBUTTON_BMP BITMAP "bitmaps/MERGEOS_STARTBUTTON.bmp"
NORMAL_STARTGROUPBACKGROUND_BMP BITMAP "bitmaps/NORMAL_STARTGROUPBACKGROUND.bmp"
NORMAL_STARTGROUPNEWAPPBUTTON_BMP BITMAP "bitmaps/NORMAL_STARTGROUPNEWAPPBUTTON.bmp"
NORMAL_STARTGROUPSEPERATOR_BMP BITMAP "bitmaps/NORMAL_STARTGROUPSEPERATOR.bmp"
NORMAL_STARTGROUPTOOLBARBUTTON_BMP BITMAP "bitmaps/NORMAL_STARTGROUPTOOLBARBUTTON.bmp"
NORMAL_STARTPANELLOGOFFBACKGROUND_BMP BITMAP "bitmaps/NORMAL_STARTPANELLOGOFFBACKGROUND.bmp"
NORMAL_STARTPANELLOGOFFBUTTONSHOT_BMP BITMAP "bitmaps/NORMAL_STARTPANELLOGOFFBUTTONSHOT.bmp"
NORMAL_STARTPANELLOGOFFBUTTONS_BMP BITMAP "bitmaps/NORMAL_STARTPANELLOGOFFBUTTONS.bmp"
NORMAL_STARTPANELMFUBACKGROUND_BMP BITMAP "bitmaps/NORMAL_STARTPANELMFUBACKGROUND.bmp"
NORMAL_STARTPANELMOREPROGARROWHOT_BMP BITMAP "bitmaps/NORMAL_STARTPANELMOREPROGARROWHOT.bmp"
NORMAL_STARTPANELMOREPROGARROW_BMP BITMAP "bitmaps/NORMAL_STARTPANELMOREPROGARROW.bmp"
NORMAL_STARTPANELMOREPROGBACKGROUND_BMP BITMAP "bitmaps/NORMAL_STARTPANELMOREPROGBACKGROUND.bmp"
NORMAL_STARTPANELPLACESBACKGROUND_BMP BITMAP "bitmaps/NORMAL_STARTPANELPLACESBACKGROUND.bmp"
NORMAL_STARTPLACESSEPARATOR_BMP BITMAP "bitmaps/NORMAL_STARTPLACESSEPARATOR.bmp"
NORMAL_STARTPROGRAMSSEPARATOR_BMP BITMAP "bitmaps/NORMAL_STARTPROGRAMSSEPARATOR.bmp"
NORMAL_STARTUSERPANEL_BMP BITMAP "bitmaps/NORMAL_STARTUSERPANEL.bmp"
MERGEOS_STATUSBACKGROUND_BMP BITMAP "bitmaps/MERGEOS_STATUSBACKGROUND.bmp"
NORMAL_STATUSPANE_BMP BITMAP "bitmaps/NORMAL_STATUSPANE.bmp"
MERGEOS_TABBACKGROUND_BMP BITMAP "bitmaps/MERGEOS_TABBACKGROUND.bmp"
MERGEOS_TABITEMTOP_BMP BITMAP "bitmaps/MERGEOS_TABITEMTOP.bmp"
MERGEOS_TABITEM_BMP BITMAP "bitmaps/MERGEOS_TABITEM.bmp"
MERGEOS_TABITEMLEFT_BMP BITMAP "bitmaps/MERGEOS_TABITEMLEFT.bmp"
MERGEOS_TABITEMRIGHT_BMP BITMAP "bitmaps/MERGEOS_TABITEMRIGHT.bmp"
MERGEOS_TABITEMBOTH_BMP BITMAP "bitmaps/MERGEOS_TABITEMBOTH.bmp"
MERGEOS_TABPANEEDGE_BMP BITMAP "bitmaps/MERGEOS_TABPANEEDGE.bmp"
NORMAL_TASKBANDBACKGROUND_BMP BITMAP "bitmaps/NORMAL_TASKBANDBACKGROUND.bmp"
MERGEOS_TASKBANDBUTTONNOEDGEVERTICAL_BMP BITMAP "bitmaps/MERGEOS_TASKBANDBUTTONNOEDGEVERTICAL.bmp"
MERGEOS_TASKBANDBUTTONNOEDGE_BMP BITMAP "bitmaps/MERGEOS_TASKBANDBUTTONNOEDGE.bmp"
MERGEOS_TASKBANDBUTTONVERTICAL_BMP BITMAP "bitmaps/MERGEOS_TASKBANDBUTTONVERTICAL.bmp"
MERGEOS_TASKBANDBUTTON_BMP BITMAP "bitmaps/MERGEOS_TASKBANDBUTTON.bmp"
NORMAL_TASKBANDFLASHBUTTONGROUPMENU_BMP BITMAP "bitmaps/NORMAL_TASKBANDFLASHBUTTONGROUPMENU.bmp"
NORMAL_TASKBANDFLASHBUTTON_BMP BITMAP "bitmaps/NORMAL_TASKBANDFLASHBUTTON.bmp"
NORMAL_TASKBANDHOVER_BMP BITMAP "bitmaps/NORMAL_TASKBANDHOVER.bmp"
NORMAL_TASKBANDSCROLLARROWGLYPHS_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLARROWGLYPHS.bmp"
NORMAL_TASKBANDSCROLLARROWS_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLARROWS.bmp"
NORMAL_TASKBANDSCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLSHAFTHORIZONTAL.bmp"
NORMAL_TASKBANDSCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLSHAFTVERTICAL.bmp"
NORMAL_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL.bmp"
NORMAL_TASKBANDSCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLTHUMBGRIPPERVERTICAL.bmp"
NORMAL_TASKBANDSCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLTHUMBHORIZONTAL.bmp"
NORMAL_TASKBANDSCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/NORMAL_TASKBANDSCROLLTHUMBVERTICAL.bmp"
MERGEOS_TASKBARBACKGROUNDVERTICAL_BMP BITMAP "bitmaps/MERGEOS_TASKBARBACKGROUNDVERTICAL.bmp"
MERGEOS_TASKBARBACKGROUND_BMP BITMAP "bitmaps/MERGEOS_TASKBARBACKGROUND.bmp"
NORMAL_TASKBARCHEVRONVERT_BMP BITMAP "bitmaps/NORMAL_TASKBARCHEVRONVERT.bmp"
NORMAL_TASKBARCHEVRON_BMP BITMAP "bitmaps/NORMAL_TASKBARCHEVRON.bmp"
NORMAL_TASKBARGRIPPERVERTICAL_BMP BITMAP "bitmaps/NORMAL_TASKBARGRIPPERVERTICAL.bmp"
NORMAL_TASKBARGRIPPER_BMP BITMAP "bitmaps/NORMAL_TASKBARGRIPPER.bmp"
MERGEOS_TASKBARSIZINGBARBOTTOM_BMP BITMAP "bitmaps/MERGEOS_TASKBARSIZINGBARBOTTOM.bmp"
MERGEOS_TASKBARSIZINGBARLEFT_BMP BITMAP "bitmaps/MERGEOS_TASKBARSIZINGBARLEFT.bmp"
MERGEOS_TASKBARSIZINGBARRIGHT_BMP BITMAP "bitmaps/MERGEOS_TASKBARSIZINGBARRIGHT.bmp"
MERGEOS_TASKBARSIZINGBARTOP_BMP BITMAP "bitmaps/MERGEOS_TASKBARSIZINGBARTOP.bmp"
MERGEOS_TASKBARTRAYVERTICAL_BMP BITMAP "bitmaps/MERGEOS_TASKBARTRAYVERTICAL.bmp"
MERGEOS_TASKBARTRAY_BMP BITMAP "bitmaps/MERGEOS_TASKBARTRAY.bmp"
MERGEOS_TOOLBARBACKGROUND_BMP BITMAP "bitmaps/MERGEOS_TOOLBARBACKGROUND.bmp"
NORMAL_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP "bitmaps/NORMAL_TOOLBARBUTTONSSPLITDROPDOWNGLYPH.bmp"
MERGEOS_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/MERGEOS_TOOLBARBUTTONSSPLITDROPDOWN.bmp"
MERGEOS_TOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/MERGEOS_TOOLBARBUTTONSSPLIT.bmp"
MERGEOS_TOOLBARBUTTONS_BMP BITMAP "bitmaps/MERGEOS_TOOLBARBUTTONS.bmp"
NORMAL_TOOLBARGRIPPERVERT_BMP BITMAP "bitmaps/NORMAL_TOOLBARGRIPPERVERT.bmp"
NORMAL_TOOLBARGRIPPER_BMP BITMAP "bitmaps/NORMAL_TOOLBARGRIPPER.bmp"
MERGEOS_TRACKBARDOWN13_BMP BITMAP "bitmaps/MERGEOS_TRACKBARDOWN13.bmp"
MERGEOS_TRACKBARDOWN16_BMP BITMAP "bitmaps/MERGEOS_TRACKBARDOWN16.bmp"
MERGEOS_TRACKBARDOWN25_BMP BITMAP "bitmaps/MERGEOS_TRACKBARDOWN25.bmp"
MERGEOS_TRACKBARHORIZONTAL_BMP BITMAP "bitmaps/MERGEOS_TRACKBARHORIZONTAL.bmp"
MERGEOS_TRACKBARLEFT13_BMP BITMAP "bitmaps/MERGEOS_TRACKBARLEFT13.bmp"
MERGEOS_TRACKBARLEFT16_BMP BITMAP "bitmaps/MERGEOS_TRACKBARLEFT16.bmp"
MERGEOS_TRACKBARLEFT25_BMP BITMAP "bitmaps/MERGEOS_TRACKBARLEFT25.bmp"
MERGEOS_TRACKBARRIGHT13_BMP BITMAP "bitmaps/MERGEOS_TRACKBARRIGHT13.bmp"
MERGEOS_TRACKBARRIGHT16_BMP BITMAP "bitmaps/MERGEOS_TRACKBARRIGHT16.bmp"
MERGEOS_TRACKBARRIGHT25_BMP BITMAP "bitmaps/MERGEOS_TRACKBARRIGHT25.bmp"
MERGEOS_TRACKBARUP13_BMP BITMAP "bitmaps/MERGEOS_TRACKBARUP13.bmp"
MERGEOS_TRACKBARUP16_BMP BITMAP "bitmaps/MERGEOS_TRACKBARUP16.bmp"
MERGEOS_TRACKBARUP25_BMP BITMAP "bitmaps/MERGEOS_TRACKBARUP25.bmp"
MERGEOS_TRACKBARVERTICAL_BMP BITMAP "bitmaps/MERGEOS_TRACKBARVERTICAL.bmp"
MERGEOS_TRAYCHEVRONHORIZONTALOPEN_BMP BITMAP "bitmaps/MERGEOS_TRAYCHEVRONHORIZONTALOPEN.bmp"
MERGEOS_TRAYCHEVRONHORIZONTAL_BMP BITMAP "bitmaps/MERGEOS_TRAYCHEVRONHORIZONTAL.bmp"
NORMAL_TREEEXPANDCOLLAPSE_BMP BITMAP "bitmaps/NORMAL_TREEEXPANDCOLLAPSE.bmp"
NORMAL_USERTILEBACKGROUND_BMP BITMAP "bitmaps/NORMAL_USERTILEBACKGROUND.bmp"

/* These three are needed before Windows will accept the theme */
NORMAL_EXPLORERBARHEADERPIN_BMP BITMAP "bitmaps/dummy.bmp"
NORMAL_IE_PERSONALBARMENU_BMP BITMAP "bitmaps/dummy.bmp"
NORMAL_NORMALGROUPCOLLAPSE_BMP BITMAP "bitmaps/dummy.bmp"
NORMAL_NORMALGROUPEXPAND_BMP BITMAP "bitmaps/dummy.bmp"

#pragma code_page(65001)

#ifdef LANGUAGE_CS_CZ
    #include "lang/cs-CZ.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/de-DE.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/it-IT.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/pl-PL.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/ru-RU.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/tr-TR.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/zh-CN.rc"
#endif
#ifdef LANGUAGE_ZH_HK
    #include "lang/zh-HK.rc"
#endif
#ifdef LANGUAGE_ZH_TW
    #include "lang/zh-TW.rc"
#endif
