#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Norwegian Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdno"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdno.dll"
#include <mergeos/version.rc>
