#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Icelandic Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdic"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdic.dll"
#include <mergeos/version.rc>
