#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Albanian Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdal"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdal.dll"
#include <mergeos/version.rc>
