#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "X86 Uniprocessor Hardware Abstraction Layer"
#define MERGEOS_STR_INTERNAL_NAME     "halpic"
#define MERGEOS_STR_ORIGINAL_FILENAME "halpic.dll"
#include <mergeos/version.rc>
