#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS French Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdfr"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdfr.dll"
#include <mergeos/version.rc>
