#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Burmese Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdbur"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdbur.dll"
#include <mergeos/version.rc>
