#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "X86 Uniprocessor Hardware Abstraction Layer"
#define MERGEOS_STR_INTERNAL_NAME     "halapic"
#define MERGEOS_STR_ORIGINAL_FILENAME "halapic.dll"
#include <mergeos/version.rc>
