#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Greek Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdhe"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdhe.dll"
#include <mergeos/version.rc>
