#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS US IBM Arabic 238_L Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdusa"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdusa.dll"
#include <mergeos/version.rc>
