#define MERGEOS_STR_FILE_DESCRIPTION    "NTFS Information\0"
#define MERGEOS_STR_INTERNAL_NAME       "ntfsinfo\0"
#define MERGEOS_STR_ORIGINAL_FILENAME   "ntfsinfo.exe\0"
#include <mergeos/version.rc>
