#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Client/Server Runtime SubSystem Server DLL"
#define MERGEOS_STR_INTERNAL_NAME     "csrsrv"
#define MERGEOS_STR_ORIGINAL_FILENAME "csrsrv.dll"
#include <mergeos/version.rc>
