#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "NFS Network Provider"
#define MERGEOS_STR_INTERNAL_NAME     "nfsnp"
#define MERGEOS_STR_ORIGINAL_FILENAME "nfsnp.dll"
#include <mergeos/version.rc>
