#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS audio mapper driver"
#define MERGEOS_STR_INTERNAL_NAME     "wdmaud"
#define MERGEOS_STR_ORIGINAL_FILENAME "wdmaud.sys"
#include <mergeos/version.rc>
