#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Windows Sockets 2 DLL"
#define MERGEOS_STR_INTERNAL_NAME     "wsock32"
#define MERGEOS_STR_ORIGINAL_FILENAME "wsock32.dll"
#include <mergeos/version.rc>
