#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Font Embedding Dll"
#define MERGEOS_STR_INTERNAL_NAME     "t2embed"
#define MERGEOS_STR_ORIGINAL_FILENAME "t2embed.dll"
#include <mergeos/version.rc>
