#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS US Dvorak Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbddv"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbddv.dll"
#include <mergeos/version.rc>
