#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Base API Server DLL"
#define MERGEOS_STR_INTERNAL_NAME     "basesrv"
#define MERGEOS_STR_ORIGINAL_FILENAME "basesrv.dll"
#include <mergeos/version.rc>
