#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Gujarati Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdinguj"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdinguj.dll"
#include <mergeos/version.rc>
