#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Ukrainian (Student) Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdurs"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdurs.dll"
#include <mergeos/version.rc>
