#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Framebuffer Display Driver"
#define MERGEOS_STR_INTERNAL_NAME     "framebuf"
#define MERGEOS_STR_ORIGINAL_FILENAME "framebuf.dll"
#include <mergeos/version.rc>
