#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION	"CSQ Test\0"
#define MERGEOS_STR_INTERNAL_NAME	"csqtest\0"
#define MERGEOS_STR_ORIGINAL_FILENAME	"csqtest.sys\0"
#include <mergeos/version.rc>
