#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "HAL Console Device Driver"
#define MERGEOS_STR_INTERNAL_NAME     "blue"
#define MERGEOS_STR_ORIGINAL_FILENAME "blue.sys"
#include <mergeos/version.rc>
