#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "NotifyHook DLL for ROS Explorer"
#define MERGEOS_STR_INTERNAL_NAME     "notifyhook"
#define MERGEOS_STR_ORIGINAL_FILENAME "notifyhook.dll"
#include <mergeos/version.rc>
