#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "ATAPI IDE Miniport Driver"
#define MERGEOS_STR_INTERNAL_NAME     "atapi"
#define MERGEOS_STR_ORIGINAL_FILENAME "atapi.sys"
#include <mergeos/version.rc>
