#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Parallel Port Function Driver"
#define MERGEOS_STR_INTERNAL_NAME     "parport"
#define MERGEOS_STR_ORIGINAL_FILENAME "parport.sys"
#include <mergeos/version.rc>
