#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS KDBG COM Library"
#define MERGEOS_STR_INTERNAL_NAME     "kdcom"
#define MERGEOS_STR_ORIGINAL_FILENAME "kdcom.dll"
#include <mergeos/version.rc>
