#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Esperanto Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdeo"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdeo.dll"
#include <mergeos/version.rc>
