#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "GDI Client DLL"
#define MERGEOS_STR_INTERNAL_NAME     "gdi32_vista"
#define MERGEOS_STR_ORIGINAL_FILENAME "gdi32_vista.dll"
#include <mergeos/version.rc>
