#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS United States Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdus"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdus.dll"
#include <mergeos/version.rc>
