#define MERGEOS_STR_FILE_DESCRIPTION	"System Information\0"
#define MERGEOS_STR_INTERNAL_NAME	"systeminfo\0"
#define MERGEOS_STR_ORIGINAL_FILENAME	"systeminfo.exe\0"
#include <mergeos/version.rc>

#include "rsrc.rc"
