#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Thai Pattachote Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdth1"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdth1.dll"
#include <mergeos/version.rc>
