#define MERGEOS_VERSION_DLL

#if defined(SARCH_PC98)
#define MERGEOS_STR_FILE_DESCRIPTION  "NEC PC-98 Boot Video Driver"
#elif defined(SARCH_XBOX)
#define MERGEOS_STR_FILE_DESCRIPTION  "Original Xbox Boot Video Driver"
#else
#define MERGEOS_STR_FILE_DESCRIPTION  "VGA Boot Driver"
#endif

#define MERGEOS_STR_INTERNAL_NAME     "bootvid.dll"
#define MERGEOS_STR_ORIGINAL_FILENAME "bootvid.dll"
#include <mergeos/version.rc>
