#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "File Management IFS Utility DLL"
#define MERGEOS_STR_INTERNAL_NAME     "fmifs"
#define MERGEOS_STR_ORIGINAL_FILENAME "fmifs.dll"
#include <mergeos/version.rc>
