#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "PCI Bus Driver"
#define MERGEOS_STR_INTERNAL_NAME     "pci"
#define MERGEOS_STR_ORIGINAL_FILENAME "pci.sys"
#include <mergeos/version.rc>
#include <pciclass.rc>
