#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "DHCP Client Service"
#define MERGEOS_STR_INTERNAL_NAME     "dhcpcsvc"
#define MERGEOS_STR_ORIGINAL_FILENAME "dhcpcsvc.dll"
#include <mergeos/version.rc>
