#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "SoundBlaster Driver"
#define MERGEOS_STR_INTERNAL_NAME     "sndblst"
#define MERGEOS_STR_ORIGINAL_FILENAME "sndblst.sys"
#include <mergeos/version.rc>
