#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Irish Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdir"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdir.dll"
#include <mergeos/version.rc>
