#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS German Ristome Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdgr1"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdgr1.dll"
#include <mergeos/version.rc>
