#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Security"
#define MERGEOS_STR_INTERNAL_NAME     "security"
#define MERGEOS_STR_ORIGINAL_FILENAME "security.dll"
#include <mergeos/version.rc>
