#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Ancillary Function Driver DLL"
#define MERGEOS_STR_INTERNAL_NAME     "msafd"
#define MERGEOS_STR_ORIGINAL_FILENAME "msafd.dll"
#include <mergeos/version.rc>
