#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Armenian Eastern Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdarme"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdarme.dll"
#include <mergeos/version.rc>
