#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "USBCCGP Driver"
#define MERGEOS_STR_INTERNAL_NAME     "usccpg"
#define MERGEOS_STR_ORIGINAL_FILENAME "usbccpg.sys"
#include <mergeos/version.rc>
