#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Thai Kedmanee Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdth0"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdth0.dll"
#include <mergeos/version.rc>
