#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Console Device Driver"
#define MERGEOS_STR_INTERNAL_NAME     "condrv"
#define MERGEOS_STR_ORIGINAL_FILENAME "condrv.sys"
#include <mergeos/version.rc>
