#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Turkish Q Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdtuq"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdtuq.dll"
#include <mergeos/version.rc>
