#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Macedonian (FYROM) Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdmac"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdmac.dll"
#include <mergeos/version.rc>
