#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS HTML Application Host"
#define MERGEOS_STR_INTERNAL_NAME     "mshta"
#define MERGEOS_STR_ORIGINAL_FILENAME "mshta.exe"

#include <mergeos/version.rc>

1 ICON "mshta.ico"
