#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "Parallel Port Device Driver"
#define MERGEOS_STR_INTERNAL_NAME     "parallel"
#define MERGEOS_STR_ORIGINAL_FILENAME "parallel.sys"
#include <mergeos/version.rc>
