#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS Finnish Keyboard Layout"
#define MERGEOS_STR_INTERNAL_NAME     "kbdfi"
#define MERGEOS_STR_ORIGINAL_FILENAME "kbdfi.dll"
#include <mergeos/version.rc>
