
#define MERGEOS_STR_FILE_DESCRIPTION	"MergeOS HTTP Registry Browser\0"
#define MERGEOS_STR_INTERNAL_NAME	"netreg\0"
#define MERGEOS_STR_ORIGINAL_FILENAME	"netreg.exe\0"
#include <mergeos/version.rc>
