#define MERGEOS_VERSION_DLL
#define MERGEOS_STR_FILE_DESCRIPTION  "MergeOS RPC server API"
#define MERGEOS_STR_INTERNAL_NAME     "rpcrt4"
#define MERGEOS_STR_ORIGINAL_FILENAME "rpcrt4.dll"
#include <mergeos/version.rc>
